# Query the Database

Now it is time to make advanced SQL requests to an `ecommerce` database!

## Data
We will work with the `ecommerce.sqlite` database available at this URL:  
`https://wagon-public-datasets.s3.amazonaws.com/sql_databases/ecommerce.sqlite`

Run the cell below to download the file.

In [ ]:
!curl https://wagon-public-datasets.s3.amazonaws.com/sql_databases/ecommerce.sqlite > data/ecommerce.sqlite

## Setup

Pandas and sqlite3 is all we need :-)

In [ ]:
import pandas as pd
from sqlite3 import connect

## Orders

ðŸ‘‰ Get all the orders, displaying all the columns

In [ ]:
# Return a list of orders displaying each column
query_orders = """
    SELECT "You have to write your query here" AS TODO -- Replace this line by your SQL query
"""

In [ ]:
with connect('data/ecommerce.sqlite') as conn:
    df = pd.read_sql(
        query_orders,
        con=conn
    )
df.head()

When the result looks like expected, run the following cell to test your query.

In [ ]:
from nbresult import ChallengeResult
result = ChallengeResult(
    'query_orders',
    query=query_orders
)
result.write(); print(result.check())

## Orders range

ðŸ‘‰ Get all the orders made between two given dates by ascending OrderDate (excluding date_from and including date_to)

In [ ]:
# return a list of orders displaying all columns with OrderDate between
# date_from and date_to (excluding date_from and including date_to)
query_orders_range = """
    SELECT "You have to write your query here" AS TODO -- Replace this line by your SQL query
"""

ðŸ‘‰ This time, to try out the query, write the code yourself to load the data into a dataframe. Make sure it's dynamic: we want to be able to easily change the start and end date!

Not sure how to do that? Get inspired by the previous challenge!

In [ ]:
start_date = '2013-01-01'
end_date = '2013-01-31'

pass  # YOUR CODE HERE

When the result looks like expected, run the following cell to test your query.

In [ ]:
from nbresult import ChallengeResult
result = ChallengeResult(
    'get_orders_range',
    query=query_orders_range
)
result.write(); print(result.check())

## Waiting time

ðŸ‘‰ Get all the orders with the delivery time in ascending order (from the smallest timedelta to the largest).

Hint: search for "sqlite julianday"

In [ ]:
# Get a list with all the orders displaying each column
# and calculate an extra TimeDelta column displaying the number of days
# between OrderDate and ShippedDate, ordered by ascending TimeDelta
query_waiting_time = """
    SELECT "You have to write your query here" AS TODO -- Replace this line by your SQL query
"""

When the result looks like expected, run the following cells to try and test your query.

In [ ]:
with connect('data/ecommerce.sqlite') as conn:
    df = pd.read_sql(
        query_waiting_time,
        con=conn
    )
df.head()

In [ ]:
from nbresult import ChallengeResult
result = ChallengeResult(
    'get_waiting_time',
    query=query_waiting_time
)
result.write(); print(result.check())

## Key learning points

- Use Pandas to query a database
- Use parameter substitution to write dynamic queries
- Work with dates, and make calculations with them